<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/help-us-improve.css">
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" defer data-deferred="1"></script>
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <title>DeCartography</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <p class="title">DeCartography</p>
  <form id="form" action="/send-form-data" method="post">


    <div class="q1">
      <h1>Do you donate to projects that are being ran by large corporations?
      </h1>
      <ul class="options1">
        <input type="radio" id="yes-1" name="q1" value="1">
        <label for="yes-1">Yes</label>




        <input type="radio" id="no-1" name="q1" value="0">
        <label for="no-1">No</label>


      </ul>
    </div>
    <div class="q2">
      <h2>Do you donate to projects that are being ran by small entities?
      </h2>
      <ul class="options2">

        <input type="radio" id="yes-2" name="q2" value="1">
        <label for="yes-2">Yes</label>



        <input type="radio" id="no-2" name="q2" value="0">
        <label for="no-2">No</label>



    </div>
    <div class="q3">
      <h2>Do you own any NFT's that are collectibles?
      </h2>
      <ul class="options3">

        <input type="radio" id="yes-3" name="q3" value="1">
        <label for="yes-3">Yes</label>



        <input type="radio" id="no-3" name="q3" value="0">
        <label for="no-3">No</label>



      </ul>
    </div>
    <div class="q4">
      <h2>Do you own any NFT's that are generative art?
      </h2>
      <ul class="options4">


        <input type="radio" id="yes-4" name="q4" value="1">
        <label for="yes-4">Yes</label>




        <input type="radio" id="no-4" name="q4" value="0">
        <label for="no-4">No</label>


      </ul>
    </div>
    <div class="q5">
      <h5>Please select your cluster.</h5>
      <div class="custom-select" style="width:200px;">
        <select name="cluster">
          <option value="0" selected disabled>Select Cluster</option>
          <option value="1">Cluster 1</option>
          <option value="2">Cluster 2</option>
          <option value="3">Cluster 3</option>
        </select>
      </div>
      <br>
      <br>
      <ul class="options5">
        <input type="submit" id="submit-button">
      </ul>


    </div>


  </form>

  <div class="objects"> </div>

  <div id="particles-js"></div>
  <div class="icon-bar">
    <a href="https://twitter.com/DeCartography" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://decartography.github.io/docs/" target="_blank" class="github"><i class="fa fa-github"></i></a>
  </div>
  <script src="../js/help-us-improve.js"></script>

  <div class="nft"> </div>
  <div class="tokens">
    <h6>ERC2O Tokens</h6>
    <p id='loading' style="color:white; font-family: descriptionFont; font-size:15px; text-align: center; top: 350px;">
      Loading...</p>
  </div>



</body>

</html>