<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" defer data-deferred="1"></script>
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <title>DeCartography</title>
  <!-- <link rel="icon" href="../public/DeCartography.png"> -->
  <link rel="icon" href="https://i.gyazo.com/16f60075e08461c087531fc610c27c95.png">
</head>

<body>
  <p class="title">DeCartography</p>

  <p class="description">DeCartography is one of the computational oracles that provide <br /> multidimensional
    ties such as Social Diversity and Social Distance <br /> between wallet addresses based on their on-chain
    activity on <br /> Ethereum. The goal is to provide a near-objective social graph using <br /> the "wisdom of
    crowds"
    by iterating subjective human evaluations <br /> of each address's on-chain activity.

    <div class="buttons">
    <!-- <a href="#">
      <button id="enabled-try" class="disabled">Try DeCartography</button>
    </a> -->
    <a href="http://app.decartography.com" target="_blank">
      <button id="enabled-try" class="disabled">Try DeCartography</button>
    </a>
    <!--<a href="#"> <button id="enabled" class="disabled">Help us improve <br /> DeCartography</button> </a>-->

  </div>
  <div class="bg-modal">
    <div class="modal-contents">
      <input type="hidden" id="caller" value="0">
      <div class="close">+</div>
      <button id="meta"> <img src="../img/foxy.png" width="17" height="17" style="margin-right: 8px;">Sign In with
        Metamask</button>
    </div>
  </div>

  <div id="particles-js"></div>
  <div class="icon-bar">
    <a href="https://twitter.com/DeCartography" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/DeCartography" target="_blank" class="github"><i class="fa fa-github"></i></a>
    <a href="https://medium.com/decartography" target="_blank" class="medium"><i class="fa fa-medium"></i></a>
  </div>
  <script src="../js/index.js"></script>


</body>

</html>
