@font-face {
  font-family: titleFont;
  src: url(../fonts/CreatoDisplay-Bold.otf);


}

@font-face {
  font-family: descriptionFont;
  src: url(../fonts/CreatoDisplay-Medium.otf);
}

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  background-color: #000000;
}

canvas {
  display: float;

}

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #00000000;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}

.twitter:hover {
  background: #55ACEE;
  color: white;
}

.github:hover {
  background: grey;
  color: white
}

.title {
  font-size: 80px;
  color: whitesmoke;
  font-weight: 700;
  font-family: titleFont;
  text-align: left;
  top: 18%;
  margin-top: 0px;
  left: 5%;
  margin-left: 10px;
  position: absolute;
}


#form {

  max-width: 500px;

  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  top: 35%;
  position: absolute;
  left: 6%;
  width: 60%;
  height: 30%;
  border-radius: 15px;
  background-color: rgb(17, 17, 17);
  border: .5px solid;
  border-color: rgb(114, 114, 114);
  color: rgb(114, 114, 114);


}

.q1 {
  display: block;
}

.q2 {
  display: none;
}

.q3 {
  display: none;
}

.q4 {
  display: none;
}

.q5 {
  display: none;
}

.q6 {
  display: none;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: descriptionFont;
  margin-bottom: 5%;
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
}

input {
  width: 90%;
  padding: 2%;
  margin: 1% auto;
  border-radius: 7px;
  background-color: transparent;
  color: rgb(114, 114, 114);
  border-color: rgb(114, 114, 114);
  border: .5px solid;
  font-family: descriptionFont;
  font-size: 15px;
}


.objects {
  border-color: #55ACEE
}




.nft {
  float: right;
  width: 52%;
  background-color: rgb(0, 0, 0);
  height: 100%;
  align-items: center;
  padding-top: 30px;


}


#form label,
#form input {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 400px;
  height: 40px;
  border: 1px solid rgb(114, 114, 114);
  cursor: pointer;
  margin: 2%;
  border-radius: 15px;
  font-family: descriptionFont;
  color: rgb(114, 114, 114);
  font-size: 20px;

}

#form input[type="radio"] {
  display: none;

}

.cluster {
  position: absolute;
  align-items: center;

}


.tokens {
  border-color: rgb(114, 114, 114);
  height: 700px;
  width: 530px;
  top: 80%;
  background-color: rgb(17, 17, 17);
  position: absolute;
  left: 6%;
  border: .5px solid;
  border-color: rgb(114, 114, 114);
  border-radius: 15px;
  padding-left: 12px;
}

.custom-select {
  text-align: center;
  position: relative;
  font-family: descriptionFont;
  border-radius: 15px;
  border: .5px solid;
  border-color: rgb(114, 114, 114);
  font-size: 15px;
  left: 145px;
  color: rgb(114, 114, 114);

}


.custom-select select {
  display: none;

}

.select-selected {
  background-color: transparent;
}


.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(114, 114, 114) transparent transparent transparent;

}


.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(114, 114, 114) transparent;
  top: 7px;
}


.select-items div,
.select-selected {
  color: rgb(114, 114, 114);
  padding: 8px 16px;
  border: .5px solid transparent;
  border-radius: 15px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: rgb(17, 17, 17);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 15px;
  border: .5px solid;
  border-color: rgb(114, 114, 114)
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  transition-duration: .3s;
}




label:hover {
  background-color: rgb(171, 169, 169);
  color: rgb(0, 0, 0, 0);
  transition-duration: .5s;
  border-color: rgb(171, 169, 169);
}


#submit-button:hover {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition-duration: .5s;
}

span.value {
  color: green
}