@font-face {
  font-family: titleFont;
  src: url(../fonts/CreatoDisplay-Bold.otf);


}

@font-face {
  font-family: descriptionFont;
  src: url(../fonts/CreatoDisplay-Medium.otf);
}

@keyframes shake1 {
  0% {
    transform: translateX(0px);

  }

  25% {
    transform: translateX(-20px);

  }

  50% {
    transform: translateX(0px);

  }

  75% {
    transform: translateX(20px);

  }
}

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  background-color: #000000;
}

canvas {
  display: float;

}

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #00000000;
}

.title {
  font-size: 85px;
  color: white;
  font-weight: 700;
  font-family: titleFont;
  text-align: left;
  top: 35%;
  margin-top: 0px;
  left: 5%;
  margin-left: 10px;
  position: absolute;


}

.description {
  color: #ffffff;
  font-family: descriptionFont;
  font-size: 18px;
  left: 6%;
  line-height: 22px;
  top: 50%;
  position: absolute;
  text-align: justify;
  word-wrap: break-word;
}



.disabled {
  background-color: transparent;
  border-style: solid;
  border-radius: 20px;
  width: 15%;
  cursor: pointer;
  font-family: titleFont;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  text-decoration: none;
  text-align: center;
}


.disabled {
  left: 77%;
  top: 49%;
  border-color: rgb(114, 114, 114);
  color: rgb(114, 114, 114);
}

.disabled:hover {
  border-color: rgb(224, 224, 224);
  color: rgb(224, 224, 224);
  transition-duration: .5s;
}

#enabled {
  left: 60%;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}

.twitter:hover {
  background: #55ACEE;
  color: white;
}

.github:hover {
  background: grey;
  color: white
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;

}

.modal-contents {
  height: 300px;
  width: 500px;
  background-color: rgb(0, 0, 0);
  border: 2px solid;
  border-color: rgb(114, 114, 114);
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  position: relative;
}


input {
  margin: 20px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 15px;
  font-family: descriptionFont;
  background-color: #000000;
  color: white;

}

input:focus {
  outline: 0;
}


.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}

.close:hover {
  color: red;
  transition-duration: .5s;

}

#header {
  text-align: center;
  top: 20%;
  color: white;
  font-family: titleFont;
  font-size: 30px;
}

#submit {
  background-color: rgb(0, 0, 0);
  border-color: rgb(4, 190, 4);
  border-radius: 15px;
  top: 60%;
  color: rgb(4, 190, 4);
  width: 25%;
  height: 25px;
  border: 1px solid;
  font-family: titleFont;
  cursor: pointer;
  font-size: 16px
}

#submit:hover {
  border-color: rgb(0, 265, 0);
  color: rgb(0, 265, 0);
  transition-duration: .5s;
}



#meta {
  position: relative;
  top: 10%;
  width: 50%;
  height: 12%;
  border-radius: 15px;
  border-color: rgb(114, 114, 114);
  color: rgb(114, 114, 114);
  background-color: #000000;
  border: 1px solid;
  font-family: titleFont;
  cursor: pointer;
}

#meta:hover {
  border-color: orange;
  background-color: orange;
  color: white;
  transition-duration: .5s;
}

#img {
  margin-right: 2px;
}